body {
    margin: 0;
    padding: 0;
}

#video-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

video {
    width: 320px;
    object-fit: cover;
}

.main {
    height: 100vh;
    display: flex;
}

.main_left {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.main_videos {
    flex-grow: 1;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.room_url {
    background-color: #1f1f1f;
    color: #f5f5ff;
    font-size: 14px;
    text-align: center;
    padding: 6px;
}

.room_url h6 {
    margin: 0;
}

.room_url span {
    color: #949494;
}

.main_controls {
    display: flex;
    background-color: rgb(31, 31, 31);
    color: rgb(190, 190, 190);
    padding: 5px;
    justify-content: space-between;
}

.main_controls_block {
    display: flex;
}

.main_controls_button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 10px;
    min-width: 80px;
    cursor: pointer;
}

.main_controls_button i {
    font-size: 24px;
}

.main_controls_button:hover {
    background-color: #343434;
    border-radius: 5px;
}

.main_header {
    color: #f5f5ff;
    text-align: center;
}

.main_chat_window {
    flex-grow: 1;
    overflow-y: auto;
}

/* width */

::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

/* Track */

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background-color: #343434;
}

.main_message_container {
    padding: 22px 12px;
    display: flex;
}

.main_message_container input {
    flex-grow: 1;
    background-color: transparent;
    border: none;
    color: #f5f5ff;
}

.messages {
    color: #f5f5ff;
    list-style: none;
}

.unmute, .stop {
    color: rgb(196, 30, 30);
}

.chatbar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 18px;
    display: flex;
    flex-direction: column;
}

.chatbar a {
    text-decoration: none;
    color: #818181;
}

.chatbar a:hover {
    color: #f1f1f1;
}

.chatbar .closebtn {
    position: absolute;
    top: -5px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media only screen and (max-width: 1024px) {
    video {
        width: 320px;
    }
    .main_controls_button i, span {
        font-size: 16px;
    }
    .main_controls_button {
        min-width: 47px;
    }
}

@media only screen and (max-width: 640px) {
    video {
        width: 210px;
    }
    .main_controls_button i, span {
        font-size: 16px;
    }
    .main_controls_button span {
        display: none;
    }
    .main_controls_button.leave_meeting span {
        display: block;
        font-size: 14px;
    }
}

@media only screen and (max-width: 420px) {
    video {
        width: 160px;
    }
}